[package]
name = "inferus-format"
version.workspace = true
edition.workspace = true
license.workspace = true
authors.workspace = true
repository.workspace = true

[dependencies]
inferus-parser.workspace = true
